*{
    margin: 0;
    padding: 0;
    text-align: center;
}
#one{
    border: solid 1px grey;
    height: 190px;
    width: 200px;
    margin-top: 25px;
    display: inline-block;
    position: relative;
}

#two{
    position: absolute;
    top: 13%;
    right: 42%;
    font-size: 2em;
}

#three{
    font-size: 0.7em;
    background-color: rgb(25, 162, 25);
    display: inline;
    padding: 0.3em 0.7em;
    position: absolute;
    right: 2%;
    top: 4%;
    border-radius: 8px;
    text-align: center;
    color: white;
}

#four{
    background-color: rgb(25, 162, 25);
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 60%;
}

#five{
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    top: 39%;
    left: 33%;
}

#six{
    color: rgb(69, 69, 69);
    position: absolute;
    top: 55%;
    left: 19%;
    font-size: 1em;
    display: inline-block;
    padding-bottom: 0.6em;
    border-bottom: solid 1px rgb(200, 197, 200);
}

#seven{
    position: absolute;
    top: 80%;
    left: 8%;
    color: rgb(97, 95, 95);
}
