#container{
    background-color: rgb(250, 174, 236);
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 1200px;
    margin: 2px;
    padding: 2px;
    justify-content: start;
    align-items: start;
    align-content: center;
}

.box{
    margin: 2px;
    padding: 2px;
    height: 200px;
    width: 200px;
    border: 2px solid brown;
}

#box1{
    background-color: blue;
}

#box2{
    background-color: aquamarine;
}

#box3{
    background-color: orange;
}

#box4{
    background-color: brown;
}