#box1{
    height: 100px;
    width: 100px;
    background-color: green;
    font-size: 10px;
}

#box2{
    height: 1vh;
    background-color: yellow;
    width: 1vw;
    margin: 10%;
    font-size: 2em;
}